@import "_partials-min";

html, body, header, footer,
h1, h2, h3, h4, h5, h6, p, 
img, a, div, nav, li, ul, ol, aside, label{
	margin: 0;
	padding: 0;
	border: 0;

	text-decoration: none;
	list-style-type: none;

	color: $black;
	font: inherit;
	font-size: 18pt;
}

html, body{
	background-color: $white;
	margin: 0;
    height: 100%;
}

body{
	color: $black;
	font-family: $mainFont;
	overflow-x: hidden;
	//min-width: $minWidth;
}

h1, h2, h3, h4, h5, h6{
	color: $black;
	font-family: $headerFont;
	line-height: 1.25;
	margin: 20px 0;
}

h1{
	font-size: 42pt;
    margin: 20px 0;
}

h2{
	font-size: 32pt;
    margin-top: 10px;
}

h3{
	font-size: 26pt;
    margin-top: 10px;
}

h4{
	font-size: 18pt;
}

p{
	max-width: 750px;
	font-size: 18pt;
	line-height: 1.5;

	padding-top: 4pt;
    padding-bottom: 4pt;
}
	
a{
	&:link, &:visited{
		transition: 0.4s;
		color: $blue;
    }
	
	&:hover, &:focus{
		transition: 0.2s;
		color: $red;
    }
	
	&:active{
		transition: 0.2s;
		color: $red;
    }
}

form{
	display: flex;
	flex-direction: column;
}
	
input, textarea{
	color: $black;
	background-color: $white;
	border: 1px solid $blue;
	border-radius: 8px;
	padding: 6px 12px;
	font-size: 16pt;
	max-width: 100%;
	box-sizing: border-box;

	&::placeholder{
		color: rgba($black, .5);
	}
/*
	&:-internal-autofill-previewed,
	&:-internal-autofill-selected{
		color: $white;
		background-color: $mid;
	}*/

	&:hover, &:focus{
		transition: .2s;
		background-color: $bg_ll;
		border: 1px solid $red;
	}
}

textarea{
	border-radius: 15px 15px 2px 15px;
}

button{
	cursor: pointer;
	color: $white;
	border: none;
	border-radius: 100px;
	padding: 10px 15px;
	margin: auto;
	font-size: 18pt;
	width: 120px;
	box-shadow: none;

	transition: .2s;
	background-color: $blue;

	&:hover, &:focus{
		background-color: $red;
	}

	&:active{
		background-color: $red_d;
	}
}

select{
	//appearance: none;
	//background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat $white;
	width: 100%;

	&, *{
		transition: .2s;
		background-color: $blue;
		border: 1px solid $blue;
		border-radius: 8px;
		padding: 6px 12px;

		color: $white;
		font-size: 16pt;

		&:hover, &:focus{
			background-color: $red;
			border: 1px solid $red;
		}
	}

	option{
		padding: 6px 12px;
		background-color: $bg_s_ll;
		color: $black;

		&:hover, &:focus{
			background-color: $red;
			color: $white;
		}
	}
}

iframe{
	border: 1px solid $black;
}