@mixin full-text-shadow($offset, $blur, $color){
	text-shadow: ($offset) ($offset) ($blur) $color,
				 (-($offset)) ($offset) ($blur) $color,
				 ($offset) (-($offset)) ($blur) $color,
                 (-($offset)) (-($offset)) ($blur) $color;
}

@mixin full-box-shadow($offset, $blur, $color){
	box-shadow: ($offset) ($offset) ($blur) $color,
				 (-($offset)) ($offset) ($blur) $color,
				 ($offset) (-($offset)) ($blur) $color,
                 (-($offset)) (-($offset)) ($blur) $color;
}

@mixin flex-center-col(){
	@include flex-center($dir:vertical);
}

@mixin flex-center-row(){
	@include flex-center($dir:horizontal);
}

@mixin flex-center($dir:horizontal){
	display: flex;
	justify-content: center;
	@if $dir == "horizontal"{
		flex-direction: row;}
	@if $dir == "vertical"{
		flex-direction: column;}
}

@mixin full-absolute(){
	position: absolute;
	@include offset-zero();
}

@mixin offset($top, $left, $bottom, $right){
	top: $top;
	left: $left;
	bottom: $bottom;
	right: $right;
}

@mixin offset-zero(){
	@include offset(0, 0, 0, 0);
}