// Main palette
$black: #070707;
$white: #EFEFEF;
$red: #DB2E59;
$blue: #3454D1;
$bg: #34d1bf;

// Other colors
$yellow: #E2C638;
$green: #4FCC6C;

// Tints
$white_d: #CECECE;  $white_dd: #AEAEAE;
$red_l: #e15477;    $red_ll: #e87a95;
$red_d: #b42649;    $red_dd: #a02241;
$blue_l: #4663d5;   $blue_ll: #6b82dd;
$blue_d: #2b45ac;   $blue_dd: #223686;
$bg_l: rgba($bg, .5); $bg_ll: rgba($bg, .2);
$bg_s_ll: #C9E9E5;

$mainFont: 'Montserrat', Helvetica, Myriad Pro, Arial, sans-serif;
$headerFont: 'Maven Pro', Helvetica, Myriad Pro, Arial, sans-serif;
$logoFont: 'Baloo Bhai', Helvetica, Myriad Pro, Arial, sans-serif;
$navFont: 'Montserrat', Helvetica, Myriad Pro, Arial, sans-serif;

$minWidth: 400px;
$readableMaxWidth: 720px;
$edgeMargin: 40px;
$edgeMarginSmall: 10px;

$tabletMinWidth: 700px;
$desktopMinWidth: 900px;

// Other
$inputIconSize: 24px;
$headerHeight: 84px;
$headerHeightSmall: 60px;


@media screen and (min-width: $tabletMinWidth) {
    
}

@media screen and (m-width: $desktopMinWidth) {

}