@import "_partials";

.container{
    &--fluid{
        width: 100%;
    }
    &--margin{
        margin: 0 $edgeMarginSmall;
    }
    &--readable{
        max-width: $readableMaxWidth;
        margin: 0 $edgeMarginSmall;
    }
}

.margin{
    &--left{
        margin-left: $edgeMarginSmall;
    }
    &--right{
        margin-right: $edgeMarginSmall;
    }
}

.pointer{
    &--clickable{
        cursor: pointer;
    }
    &--ignore{
        pointer-events: none;
    }
    &--events{
        pointer-events: all;
    }
    &--no-select{
        user-select: none;
    }
}

.clickable{
    &--button, &--button--icon{
        cursor: pointer;
        transition: .6s;
        color: $white;
        background-color: $blue;
        padding: 5px 10px;
        border-radius: 8px;

        &--icon{
            @include flex-center-row();
            padding-top: 8px;
        }

        &:hover, &:focus, &:active{
            transition: .2s;
            background-color: $red;
        }
    }
    &--text{
        cursor: pointer;
        transition: .6s;
        color: $blue;

        &:hover, &:focus, &:active{
            transition: .2s;
            color: $red;
        }
    }
}

.label-group{
    margin-bottom: 10px;
    margin-right: 20px;
    width: 100%;

    &.error{
        *{ color: $red; }
        input, textarea{
            //background-color: rgba($red, .1);
            border: 1px solid $red;
        }
    }
    
    label, .label{
        display: block;
        color: $black;
        font-size: 14pt;
        
        i{ margin-right: 5px; }
    }
    input:not([type="radio"]):not([type="checkbox"]),
    textarea, select, .element{
        margin: 5px 0;
        min-width: 75%;
        max-width: 100%;

        &.error{
	        border: 2px solid $red;
        }
    }

    input[type="radio"]{
        max-width: 20px;
    }

    textarea{
        width: 100%;
        min-height: 180px;
    }
}

.input-icon{
    position: relative;
    input{
        padding-left: 38px;
        padding-right: -38px;
    }
    i{
        position: absolute;
        left: 8px;
        top: 9px; bottom: 2px;
        font-size: $inputIconSize;
        color: $blue;
    }
}

.icon-label-group{
    label{
        display: block;
        color: $black;
        font-size: 14pt;
    }

    .input{
        position: relative;
        input{
            padding-left: 38px;
            padding-right: -38px;
        }

        i{
            position: absolute;
            left: 8px;
            top: 9px; bottom: 2px;
            font-size: $inputIconSize;
            color: $blue;
        }
    }
}

.image{
    &--cover{
        overflow: hidden;
        @include flex-center-row();

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.logo{
    font-family: $logoFont;
    font-size: 28pt;
    line-height: 1.75;

    &:link, &:visited{
        transition: .4s;
        color: $red;
    }

    &:hover, &:focus, &:active{
        transition: .2s;
        color: $blue;
    }
}

.font{
    &--main{
        font-family: $mainFont;
    }
    &--header{
        font-family: $headerFont;
        
        &--light{
            font-family: $headerFont;
            font-weight: 200;
        }
    }
    &--nav{
        font-family: $navFont;
        font-weight: 200;
        font-size: 18pt;
    }
    &--logo{
        font-family: $logoFont;
        font-size: 48pt;
        line-height: 2;

        &--l{
            font-size: 48pt;
        }

        &--m{
            font-size: 36pt;
        }

        &--s{
            font-size: 28pt;
        }
    }
}

.no-scroll{
    height: 100%;
    overflow: hidden;
}

.flex-center{
    display: flex;
    justify-content: center;
    &--h{
        flex-direction: row;
    }
    &--h{
        flex-direction: column;
    }
}

.separator{
    &--h{
        width: 100%;
        height: 0;
        border-top: 2px solid $bg_l;
        margin: 20px 0;
    }
    &--v{
        width: 0;
        height: 100%;
        border-left: 2px solid $bg_l;
        margin: 0 20px;
    }
}

.hidden{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

button.btn{
    &--text{
        background: none;
        padding: 0;

        transition: .2s;
        color: $blue;

        text-align: left;
        *{ display: inline-block; }

        &:hover, &:focus{
            color: $red;
        }
    }

    &--primary{

    }

    &--light{
        border-radius: 8px;
        padding: 6px 12px;
        font-size: 16pt;
    }
}

/// Tablet //////
@media only screen and (min-width: $tabletMinWidth){

.container{
    &--margin, &--readable{
        margin: 0 $edgeMargin;
    }
}

.margin{
    &--left{
        margin-left: $edgeMargin;
    }
    &--right{
        margin-right: $edgeMargin;
    }
}
}

/// Desktop //////
@media only screen and (min-width: $desktopMinWidth){
    
.container{
    &--readable{
        width: $readableMaxWidth;
        margin: 0 auto;
    }
}


.logo{
    font-size: 36pt;
    line-height: 1.75;
}
}





// Mapbox styles
.mapboxgl-ctrl-attrib{
    *{
        font-size: 8pt;
    }
}


// vfc Calendar styles

// Note: I hate using !important, but it's required here to override 
// the vfc default styles. Please forgive me.

.calendar-container{
    *{
        font-family: $mainFont;
        font-size: 12pt;
    }

    .vfc-main-container{
        background-color: $white !important;
        height: auto !important;
        padding-bottom: 20px !important;
    }

    .vfc-top-date, .vfc-cursor-pointer{
        margin: 10px 10px 20px !important;
    }

    .vfc{
        $marked: $red_l;

        &-base-start, &-base-end{
            background-color: $marked !important;
        }

        &-today{
            background-color: $bg_l !important;

            &:after{
                color: $black !important;
            }
        }
        
        &-marked.vfc-hover.vfc-end-marked,
        &-marked.vfc-hover.vfc-start-marked{
            background-color: $marked !important;
        }

        &-marked:not(.vfc-start-marked):not(.vfc-end-marked){
            background-color: $marked !important;

            &:before{
                background-color: $marked !important;
            }

            &:after{
                color: $white !important;
            }
        }

        &-start-marked:not(.vfc-marked){
            background-color: $marked !important;
            border-radius: 20px !important;
        }

        &-end-marked:not(.vfc-marked){
            background-color: $marked !important;
        }
    }
}