<template>
<div class="[ about ] [ container--readable ]">
    <h1>About Holidaze</h1>
    <p>This application is a student project simulating a accommodation hosting and booking website.</p>
    <ul class="[ about__sources ]">
        <li>All icons by <a class="[ clickable--text ]" href="https://fontawesome.com/license" 
            title="Font Awesome" target="_blank">Fontawesome</a></li>
        <li>Maps by <a href="https://www.mapbox.com" 
            title="Mapbox" target="_blank">Mapbox</a></li>
        <li>Calendars by <a href="https://github.com/ManukMinasyan/vue-functional-calendar" 
            title="Vue Funtional Calendar" target="_blank">Vue Funtional Calendar</a></li>
    </ul>
</div>
</template>

<script>

export default {
    name: "About"
}

</script>

<style lang="scss" scoped>
.about{
    &__sources{
        li{
            &, *{font-size: 14pt;}
            
            margin: 5px 0;
        }
    }
}
</style>