<template>
<div class="[ admin-dash ] [ container--margin ]">
    <div v-if="!isLoggedIn">Log in to view your host and administer listings</div>
    <div class="[ dashboard ]" v-else>
        <nav class="[ dashboard__nav ][ font--nav ]" v-if="$mq === 'mobile'">
            <ul>
                <li><a href="#establishements"><i class="fas fa-suitcase"></i>Establishments</a></li>
                <li><a href="#messages"><i class="fas fa-envelope"></i>Inbox</a></li>
            </ul>
        </nav>
        <div class="[ dashboard__content ]" v-bind:class="{ mobile: $mq === 'mobile' }">
            <ul id="establishements" class="[ establishements ]" v-if="loaded">
                <li class="[ establishements__item ]"><router-link :to="{ name: 'Listing' }">
                    <div class="[ establishements__item__title ] [ clickable--text ]"><i class="fas fa-plus-circle"></i>New</div>
                    </router-link></li>
                    
                <li class="[ establishements__item ]" v-for="est in establishments" v-bind:key="est">
                    <router-link :to="{ name: 'Listing', params: { id: est.id }}">
                        <div class="[ establishements__item__bg ] [ image--cover ]"><img v-bind:src="est.imageUrl"/></div>
                        <div class="[ establishements__item__title ] [ clickable--text ]">{{est.establishmentName}}</div>
                        <div class="[ establishements__item__bookings ]" v-if="est.bookingData.length > 0">
                            <i class="fas fa-suitcase"></i>{{est.bookingData.length}}</div>
                    </router-link></li>
            </ul>
            <div id="messages" class="[ messages ]">
                <h3>Inbox</h3>
                <div class="[ separator--h ]"/>
                <div v-for="msg of messages" v-bind:key="msg">
                    <MessageItem
                        :name="msg.clientName"
                        :email="msg.email"
                        :message="msg.message"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import MessageItem from './../components/MessageItem';
import { utils } from './../App';

export default {
    name: "AdminDashboard",
    components: { MessageItem },
    data(){
        return{
            loaded: false,
            establishments: Array,
            messages: Array
        }
    },
    computed: {
        isLoggedIn: { get: function() { return localStorage.getItem("sessionID") !== null; }}
    },
    beforeMount(){
        const app = this;
        app.getEstablishmentsWithBookingData(function(res){
            app.establishments = res;
            app.loaded = true;
        });

        app.fetchDataFromUrl("./data/contact.json", function(res){
            app.messages = res;
        });
    },
    methods: {
        
    }
}
</script>

<style lang="scss" scoped>
@import "./../assets/scss/_partials-min.scss";
.dashboard{
    &__nav{
        margin: 30px 0 40px;
        ul{
            display: flex;
            flex-wrap: wrap;

            li{
                margin: 10px;
                i{
                    margin-right: 5px;
                }
            }
        }
    }

    &__content{
        display: grid;
        grid-template-columns: 2fr minmax(auto, 360px);
        
        &.mobile{
            display: block;
        }
    }

    .establishements{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 10px;
        margin: 20px 10px 10px 0;

        &__item{
            background-color: $bg_ll;
            border-radius: 8px;
            height: 140px;
            @include full-box-shadow(2px, 4px, rgba($black, .1));

            position: relative;
            overflow: hidden;

            transition: .2s;

            &__bg{
                transition: .2s;
                @include full-absolute();
                opacity: .5;
            }

            &__title{
                @include full-absolute();
                padding: 10px;
                @include full-text-shadow(2px, 4px, rgba($white, .25));
            }

            &__bookings{
                position: absolute;
                bottom: 0; right: 0;
                padding: 4px 8px;
                border-radius: 8px 0 0 0;

                background-color: $red;
                color: $white;
                font-size: 12pt;
            }

            i{ margin-right: 5px; }

            &:hover, &:focus, &:active{
                background-color: rgba($bg_l, 0);
                @include full-box-shadow(2px, 4px, rgba($black, .05));
                margin-top: -2px;

                .establishements__item__bg{
                    //opacity: .5;
                    transform: scale(1.05, 1.05);
                }
            }
        }
    }

    .messages{
        background-color: $bg_ll;
        border-radius: 8px;
        padding: 10px;
        margin: 20px 0;
    }
}

</style>