<template>
<div class="[ contact ] [ container--readable ]">
    <h1>Contact</h1>
    <form method="POST" @submit="validateForm" action="./data/contact-success.php">
        <div class="[ label-group ]" v-bind:class="{ error: errors.name }">
            <label for="clientName">Full name</label>
            <input type="text" name="clientName" id="clientName" v-model="name">
        </div>
        <div class="[ label-group ]" v-bind:class="{ error: errors.email }">
            <label for="email">Email Address</label>
            <input type="text" name="email" id="email" v-model="email">
        </div>
        <div class="[ label-group ]" v-bind:class="{ error: errors.message }">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="8" cols="80" v-model="message"></textarea>
        </div>
        <button type="submit">Send</button>
    </form>
</div>
</template>

<script>

export default {
    name: "Contact",
    data(){
        return {
            name: "",
            email: "",
            message: "",
            errors: {
                name: false,
                email: false,
                message: false
            }
        }
    },
    methods: {
        validateForm(e){
            const app = this;
            
            app.errors = {
                name: app.name == "",
                email: !app.validateEmail(app.email),
                message: app.message == ""
            }

            if (app.errors.name || app.errors.email || app.errors.message)
                e.preventDefault();
        }
    }
}

</script>

<style lang="scss" scoped>
</style>