<template>
<div class="[ establishment ]" v-if="loaded">
    <div class="[ image-header ] [ container--fluid ] [ image--cover ]">
        <img v-bind:src="establishment.imageUrl" v-bind:alt="establishment.establishmentName">
    </div>
    <div class="[ container--margin ]">
        <div class="[ width-control ]">
            <h1>{{establishment.establishmentName}}</h1>
            <div class="[ content ]" v-bind:class="{ wide: $mq === 'desktop' }">
                <div class="[ content__main ]">
                    <div class="[ content__main__details ]">
                        <div class="[ content__main__details__rating ]">
                            <i class="fas fa-star"/><i class="fas fa-star"/>
                            <i class="fas fa-star"/><i class="fas fa-star"/>
                            <i class="fas fa-star-half-alt"/>
                        </div>
                        <div class="[ content__main__details__guests ]">
                            <i class="fas fa-user"></i>{{establishment.maxGuests}}
                        </div>
                    </div>
                    <p class="[ content__main__description ]">{{establishment.description}}</p>
                </div>
                <div class="[ content__side ]">
                    <div class="[ content__side__price ]">{{establishment.price}}$</div>
                    <div class="[ content__side__host ] [ label-group ]">
                        <div class="[ label ]"><i class="fas fa-user-circle"></i>Host</div>
                        <div class="[ element ]">{{establishment.establishmentEmail}}</div>
                    </div>
                    <div class="[ calendar-container inline ]">
                        <Calendar v-model="calendarData"
                            ref="vfc"
                            :is-date-range='true'
                            :disabled-dates="unavailableDates"
                            @selectedDaysCount="dateChange()"
                        />
                    </div>
                    <div class="[ content__side__res ]" v-bind:class="{ hide: !showSummary }">
                        <div class="[ content__side__res__summary ]">{{dateSummary}}</div>
                        <div class="[ content__side__res__button ] [ clickable--button ]"
                            v-if="validBookingInput" v-on:click="setResModalOpen(true)">
                            Book dates <i class="fas fa-chevron-circle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="[ map-container ]">
                <button class="[ fly-to ] [ btn--light ]" v-on:click="flyToPosition"><i class="fas fa-map-marker-alt"></i></button>
                <Mapbox
                    ref="mapbox"
                    @map-load="initMap"
                    access-token="pk.eyJ1IjoiYW5uYS1ob2ZzZXRoIiwiYSI6ImNqZzZ4anpvazBkZDQycXF0cTduemQweWcifQ.BZf0buuKp90Vst4HpnZxQQ"
                    :map-options="{ 
                        style: mapStyle,
                        center: position,
                        zoom: 12
                    }"
                />
            </div>
        </div>
    </div>

    <div class="[ res-modal ]" v-bind:class="{ hide: !showReservationModal }">
        <div class="[ res-modal__bg ]" v-on:click="showReservationModal = false"></div>
        <div class="[ res-modal__content ]">
            <div class="[ res-modal__content__close ] [ clickable--button ]"
                v-on:click="setResModalOpen(false)"><i class="fas fa-times"></i></div>
            <form class="[ form ]" method="POST" @submit="validateBookingForm" action="./data/enquiry-success.php">
                <h2>{{establishment.establishmentName}}</h2>
                <div class="[ label-group ]" v-bind:class="{ error: errors.name }">
                    <label for="clientName">Full name</label>
                    <input type="text" name="clientName" id="clientName" v-model="formInput.name">
                </div>
                <div class="[ label-group ]" v-bind:class="{ error: errors.email }">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" v-model="formInput.email">
                </div>

                <input class="[ hidden ]" type="text" name="establishment" id="establishment"
                    v-bind:value="formInput.estName" readonly>
                <input class="[ hidden ]" type="date" name="checkin" id="checkin" 
                    v-bind:value="formInput.from" readonly>
                <input class="[ hidden ]" type="date" name="checkout" id="checkout" 
                    v-bind:value="formInput.to" readonly>

                <div class="[ form__summary ]">{{dateSummary}}</div>
                <div class="[ form__total ]">Total: {{establishment.price}}$</div>
                <div class="[ form__buttons ]">
                    <!--<div class="[ clickable--button ]" v-on:click="showReservationModal = false">Cancel</div>-->
                    <button type="submit">Book dates</button>
                </div>
            </form>
        </div>
    </div>
</div>
</template>

<script>
import Calendar from 'vue-functional-calendar';
import Mapbox from 'mapbox-gl-vue';

export default {
    name: "Establishment",
    props: [ "id" ],
    components: { Calendar, Mapbox },
    data() {
        return {
            calendarData: Object,
            dateSummary: "",
            unavailableDates: [ /*"6/06/2019"*/ ],

            mapSource: Object,
            mapStyle: "mapbox://styles/anna-hofseth/cjw2d54qo0hpn1cl9ux9t9y9h",
            position: [ 5.322054, 60.391262 ], // Bergen center by default
            
            establishment: Object,
            allBookingDates: Object,
            bookingData: {
                checkIns: Array,
                checkOuts: Array,
                fullDates: Array
            },
            formInput: {
                estName: "",
                name: "", email: "",
                from: "", to: ""
            },
            errors: {
                name: false, email: false
            },

            validBookingInput: false,
            showReservationModal: false
        };
    },
    computed: {
        showSummary: function() { return this.dateSummary != "" },
        loaded: function() { return this.establishment != null && this.allBookingDates != null },
        mapbox: function() { this.$refs.mapbox }
    },
    watch: {
        loaded: function() { this.sortBookingData() }
    },
    beforeMount(){
        const app = this;
        app.loadData();
        app.setBrowserScrollActive(false);
        app.setBrowserZoomActive(false);
    },
    beforeDestroy(){
        const app = this;
        app.setBrowserScrollActive(true);
        app.setBrowserZoomActive(true);
    },
    methods: {
        loadData(){
            let app = this;

            // Loading establishments
            app.getEstablishmentsData(function(result) {
                for(let est of result){
                    if (est.id == app.id){
                        app.establishment = est;
                        app.position = [ est.googleLong, est.googleLat ];
                        app.formInput.estName = est.establishmentName;
                        break;
                    }
                }
            });

            app.getBookingData(function(result) {
                app.allBookingDates = result;
            });
        },
        sortBookingData(){
            const app = this;
            let today = new Date();

            let relevantBookingData = [];
            for(let booking of app.allBookingDates){
                if (booking.establishment === app.establishment.establishmentName){
                    let checkInDate = app.getDateObject(booking.checkin, false);
                    let checkOutDate = app.getDateObject(booking.checkout, false);
                    let dateHasPast = today > checkOutDate;
                    if (!dateHasPast){
                        relevantBookingData.push(booking);
                        // Temp: checkin- and out- dates should still be available
                        let addDate = checkInDate;
                        while(addDate <= checkOutDate){
                            app.unavailableDates.push(app.dateObjectToString(addDate, true));
                            addDate++;
                        }

                        app.bookingData.checkIns.push(checkInDate);
                        app.bookingData.checkOuts.push(checkOutDate);
                        let fullDate = checkInDate + 1;
                        while (fullDate < checkOutDate)
                            app.bookingData.fullDates.push(fullDate);
                    }
                }
            }

            //console.log(app.bookingData);
        },
        initMap(source){
            const app = this;
            app.mapSource = source;
            app.initMapOverrideScrollAndZoom(source);
            source.addLayer({
                'id': 'position',
                "source": {
                    'type': 'geojson',
                    'data': {
                        'type': 'Point',
                        'coordinates': app.position
                    }
                },
                "type": "circle",
                "paint": {
                    "circle-radius": 10,
                    "circle-color": "#DB2E59"
                }
            });
            app.flyToPosition();
        },
        dateChange(){
            const app = this;


            let from = app.getDateObject(app.calendarData.dateRange.start.date);
            let to = app.getDateObject(app.calendarData.dateRange.end.date);

            let currentYear = new Date().getFullYear();
            let showYear = from.getFullYear() != currentYear || to.getFullYear() != currentYear;

            app.dateSummary = app.getDateSummary(from, showYear) + " - " + 
                              app.getDateSummary(to, showYear);

            // This is inserted to the form that generates json
            app.formInput.from = app.dateObjectToString(from);
            app.formInput.to = app.dateObjectToString(to);

            //console.log(app.formInput.from, app.formInput.to);

            app.validBookingInput = true;
        },
        validateBookingForm(e){
            const app = this;

            app.errors = {
                name: app.formInput.name == "",
                email: !app.validateEmail(app.formInput.email)
            }
            
            if (app.errors.name || app.errors.email)
                e.preventDefault();
        },
        setResModalOpen(open){
            this.showReservationModal = open;
        },
        flyToPosition(){
            const app = this;
            app.mapSource.flyTo({center: app.position});
        }
    }
}
</script>

<style lang="scss">
@import "./../assets/scss/_partials-min.scss";
.establishment{
    position: relative;

    .image-header{
        min-height: 200px;
        height: 60vh;
        overflow: hidden;
    }

    .width-control{
        max-width: 1100px;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .content{
        display: block;

        &__main{
            margin-right: 10px;

            &__details{
                &__rating *{
                    color: $yellow;
                }

                &__guests{
                    margin-top: 5px;
                    i{
                        margin-right: 5px;
                        color: $bg;
                    }
                }
            }

            &__description{
                margin: 40px 0;
            }
        }
        &__side{
            &__price{
                display: inline-block;
                background-color: $red;
                color: $white;
                border-radius: 8px 2px 8px 8px;

                font-size: 21pt;
                padding: 5px 15px;
                margin-bottom: 20px;
            }

            &__res{
                background-color: $bg_ll;
                border-radius: 8px;
                padding: 10px;
                margin-top: 10px;

                position: relative;
                height: 80px;

                &.hide{
                    opacity: 0;
                }
                
                &__summary{
                    font-size: 16pt;
                }

                &__button{
                    display: inline-block;
                    padding: 5px 10px;
                    
                    position: absolute;
                    bottom: 10px; right: 10px;
                    transition: .2s;

                    i{
                        transition: .2s;
                    }

                    &:hover, &:focus, &:active{
                        margin-right: 5px;
                        i{
                            margin: 0 4px;
                        }
                    }
                }
            }

            &__host{
                margin-bottom: 20px;
                overflow-x: hidden;

                .element{
                    font-size: 12pt;
                }

                i{ color: $bg; }
            }
        }

        &.wide{
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 10px;
        }
    }

    .res-modal{
        position: fixed;
        @include offset-zero();
        z-index: 201; // because the vfc calendar has elements with z-index up to 200..
        
        transition: .2s;
        opacity: 1;

        &.hide{
            opacity: 0;
            pointer-events: none;
        }

        &__bg{
            @include full-absolute();
            background-color: rgba($black, .5);
        }

        &__content{
            position: absolute;
            @include offset(20px, 20px, 20px, 20px);
            overflow-y: scroll;

            max-width: 320px;
            max-height: 415px;
            padding: 20px;
            margin: auto;

            background-color: $white;
            border-radius: 8px;

            &__close{
                position: absolute;
                top: 5px; right: 5px;
                border-radius: 20px;
                transform: scale(.75, .75);
            }

            .form{
                &__summary{
                    margin-bottom: 10px;
                }

                &__total{
                    background-color: $bg_ll;
                    border-radius: 8px;
                    padding: 10px;
                    text-align: right;
                }

                &__buttons{
                    position: relative;
                    margin-top: 20px;

                    div{
                        padding: 8px 10px;
                        position: absolute;
                        top: 3px; left: 0;
                    }

                    button{
                        width: auto;
                        position: absolute;
                        top: 0; right: 0;
                    }
                }
            }
        }
    }

    .calendar-container{
    }

    .map-container{
        margin-top: 10px;
        height: 320px;
        border-radius: 8px;
        overflow: hidden;
        position: relative;

        .fly-to{
            position: absolute;
            z-index: 1;
            top: 10px; left: 10px;
            width: 39px;
        }

        #map{
            width: 100%; height: 100%;
            .mapboxgl-ctrl-top-right{
                top: 0;
            }
        }
    }
}
</style>