<template>
<div class="[ home ]">
    <div class="[ home__result ] [ container--fluid ]">
        <div class="[ home__result__left ]"
            v-bind:class="{ single: !dualView, map: mapView }">
            <Search @onSearch="search"/>
            <MatchList v-show="dualView || !mapView"
                @onInit="initResultList"
                :total="allEstablishments.length"
            />
        </div>
        <MatchMap
            @onInit="initResultMap"
        />
    </div>
    <div class="[ home__toggle-container ] [ pointer--ignore ]" v-if="!dualView">
        <div class="[ home__toggle-container__toggle ] [ pointer--events ] [ pointer--clickable ]" v-on:click="toggleView()">
            <i class="fas fa-map-marked" v-if="!mapView"></i>
            <i class="fas fa-th-list" v-else></i>
        </div>
    </div>
</div>
</template>

<script>
import Search from './../components/Search'
import MatchMap from './../components/MatchMap'
import MatchList from './../components/MatchList'

export default {
    name: "Home",
    components: { Search, MatchMap, MatchList },
    data(){
        return{
            dataLoaded: false,
            mapView: true,

            allEstablishments: Array,
            filteredEstablishments: Array,

            resultMap: Object,
            resultList: Object
        }
    },
    computed: {
        dualView: function() { 
            return this.$mq === 'desktop' },
        componentsLoaded: function() { 
            return this.resultMap !== null && this.resultList !== null },
        loaded: function() { 
            return this.componentsLoaded && this.dataLoaded }
    },
    watch: {
        $mq: function() { this.mqChange(); },
        loaded: function(isLoaded) { if (isLoaded) this.initComponents(); }
    },
    beforeMount(){
        const app = this;

        this.getEstablishmentsWithBookingData(function(res){
            app.allEstablishments = res;
            app.filteredEstablishments = res;
            app.dataLoaded = true;
        });

        app.setBrowserScrollActive(false);
        app.setBrowserZoomActive(false);
    },
    beforeDestroy(){
        const app = this;
        app.setBrowserScrollActive(true);
        app.setBrowserZoomActive(true);
    },
    methods: {
        initResultMap(source) { this.resultMap = source; },
        initResultList(source) { this.resultList = source; },
        search(data){
            const app = this;
            if (app.allEstablishments.length < 2) return;

            let filteredData = [];
            for(let est of app.allEstablishments){
                let textMatch = (est.establishmentName.toLowerCase().includes(data.text.toLowerCase()) || 
                                 est.description.toLowerCase().includes(data.text.toLowerCase()));
                let guestMatch = est.maxGuests > (data.guests - 1);
                let dateMatch = app.availableDate(est, data.date);
                let advancedMatch = true;

                if (data.usingAdvanced)
                {
                    let distMatch = data.distance > 0 ? app.availableWithinDistance(est, data.distance) : true;
                    let priceMatch = data.maxPrice > 0 ? est.price - data.maxPrice <= 0 : true;
                    let cateringMatch = !data.selfCateringPrefs || ((est.selfCatering == 'true') == data.selfCatering);
                    //((est.selfCatering == 'true') == data.selfCatering);
                    advancedMatch = distMatch && priceMatch && cateringMatch;

                    console.log("cateringMatch:", cateringMatch);
                }
                
                /*console.log("text:",textMatch, // correct
                            ", guests:", guestMatch, // correct
                            ", date:", dateMatch, 
                            ", dist:", distMatch, 
                            ", price:", priceMatch, // correct
                            ", catering:", cateringMatch)*/

                if(textMatch && guestMatch && dateMatch && advancedMatch){
                    filteredData.push(est);
                }
            }

            app.filteredEstablishments = filteredData;

            app.refreshData();
        },
        availableDate(est, date){
            // Todo: finish this

            if (!date.from || !date.to || 
                est.bookingData.length == 0 || est.bookingData === undefined)
                return true;

            else{
                // Testing: checkin/out-s count as a whole day
                const app = this;

                let searchDates = app.getAllDates(app.getDateObject(date.from), 
                                                  app.getDateObject(date.to));

                for(let b of est.bookingData){
                    let dates = app.getAllDates(app.getDateObject(b.checkin), 
                                                app.getDateObject(b.checkout));
                                                
                    for(let d of dates){
                        for(let s of searchDates){
                            if (d.getTime() == s.getTime()){
                                return false;
                            }
                        }
                    }
                }
            }
            return true;
        },
        availableWithinDistance(est, dist){
            // Todo: finish this
            return true;
        },
        initComponents(){
            const app = this;
            let data = app.filteredEstablishments;
            app.resultMap.initData(data);
            app.resultList.refresh(data);
        },
        refreshData()
        {
            const app = this;
            let data = app.filteredEstablishments;
            
            if (app.loaded){
                app.resultMap.filterData(data);
                app.resultList.refresh(data);
            }
        },
        setView(mapViewActive){
            const app = this;
            app.mapView = mapViewActive;

            app.resultMap.setInteractive(mapViewActive);
        },
        toggleView(){ this.setView(!this.mapView); },
        mqChange(){
            const app = this;
            if (app.$mq === 'mobile')
                app.setView(app.mapView);
            app.refreshData();
        }
    }
}
</script>

<style lang="scss" scoped>
@import "./../assets/scss/_partials-min.scss";
.home{
    @include full-absolute();

	/*display: grid;
    grid-template-rows: auto 1fr;*/

    &__result{
        @include full-absolute();

        &__left{
            position: absolute;
            @include offset($headerHeight + 10px, 10px, 10px, 10px);
            z-index: 1;
            width: 460px;
            overflow-y: scroll;
            border-radius: 8px;
            opacity: .99;

            display: grid;
            grid-template-rows: auto 1fr;
            grid-gap: 10px;

            &.single{
                top: $headerHeightSmall + 10px;
                right: 10px;
                width: auto;

                &.map{
                    bottom: auto;
                    overflow-y: visible;
                }
            }
        }
    }

    &__toggle-container{
        position: fixed;
        left: 0; right: 0;
        bottom: 2vh;
        @include flex-center-row();
        z-index: 1;

        &__toggle{
            color: $white;
            width: 60px; height: 60px;
            border-radius: 40px;
            position: relative;
            
            transition: .6s;
            background-color: $blue;

            &:hover, &:focus, &:active{
                transition: .2s;
                background-color: $red;
            }

            i{
                position: absolute;
                top: 15px;
                font-size: 30px;
                text-align: center;
                width: 100%;
            }
        }
    }
}
</style>