<template>
<div class="[ listing ]">
    <div class="[ image-header ] [ container--fluid ] [ image--cover ]">
        <img v-bind:src="formInput.imageUrl" v-bind:alt="formInput.estName">
    </div>
    <div class="[ listing__booking-data ] [ container--margin ]" 
        v-if="!createNew && loaded" v-bind:class="{ wide: $mq === 'desktop' }">
        <div class="[ listing__booking-data__calendar ] [ calendar-container ]">
            <Calendar v-model="calendarData"
                ref="vfc"
                @selectedDaysCount="dateChange()"
            />
        </div>
        <div class="[ listing__booking-data__list ]">
            <div v-if="!anyBookingData">No booking data found</div>
            <div v-for="b of establishment.bookingData" v-bind:key="b">
                <BookingItem
                    :name="b.clientName"
                    :email="b.email"
                    :from="b.checkin"
                    :to="b.checkout"
                />
            </div>
        </div>
    </div>
    <form class="[ listing__form ]" method="POST" @submit="validateForm"
        action="./data/add-establishments-success.php">
        <div class="[ container--margin ]">   
            <div class="[ width-control ]">
                <div class="[ separator--h ]"/>
                <h2>Edit establishment</h2>
                <div class="[ image-input ] [ label-group ]">
                    <label>Image url</label>
                    <input type="text" name="imageUrl" id="imageUrl" placeholder="Add image url" 
                        required v-model="formInput.imageUrl">
                    <div class="[ container--fluid ] [ image--cover ]">
                        <img v-bind:src="formInput.imageUrl" v-bind:alt="formInput.estName">
                    </div>
                </div>
                <div class="[ content ]" v-bind:class="{ wide: $mq === 'desktop' }">
                    <div class="[ content__main ]">
                        <div class="[ label-group ]" v-bind:class="{ error: errors.estName }">
                            <label>Establishment Name</label>
                            <input type="text" name="establishmentName" id="establishmentName" 
                                required v-model="formInput.estName">
                        </div>
                        <div class="[ label-group ]" v-bind:class="{ error: errors.email }">
                            <label>Host Email</label>
                            <input type="text" name="establishmentEmail" id="establishmentEmail" placeholder="Host email"
                                required v-model="formInput.email">
                        </div>
                        <div class="[ label-group ]" v-bind:class="{ error: errors.description }">
                            <label>Description</label>
                            <textarea name="description" id="description"
                                required v-model="formInput.description"></textarea>
                        </div>
                        <div class="[ label-group ]" v-bind:class="{ error: errors.selfCatering }">
                            <label for="true">Self-catering</label>
                            <input type="radio" id="true" name="selfCatering" value="true"
                                v-model="formInput.selfCatering">
                            <label for="false">Chef on premise</label>
                            <input type="radio" id="false" name="selfCatering" value="false"
                                v-model="premiseChef">
                        </div>
                    </div>
                    <div class="[ content__side ]">
                        <div class="[ two-cols ]">
                            <div class="[ label-group ]">
                                <label for="price">Price per person per night ($)</label>
                                <input type="number" name="price" id="price" placeholder="$"
                                    required v-model="formInput.price">
                            </div>
                            <div class="[ label-group ]" v-bind:class="{ error: errors.guests }">
                                <label>Max guests</label>
                                <input type="number" name="maxGuests" id="maxGuests" placeholder="Max guests"
                                    required v-model="formInput.guests">
                            </div>
                        </div>
                        <div class="[ map-container ] [ label-group ]">
                            <label>Select coordinates</label>
                            <Mapbox
                                ref="mapbox"
                                @map-load="initMap"
                                access-token="pk.eyJ1IjoiYW5uYS1ob2ZzZXRoIiwiYSI6ImNqZzZ4anpvazBkZDQycXF0cTduemQweWcifQ.BZf0buuKp90Vst4HpnZxQQ"
                                :map-options="{ 
                                    style: mapStyle,
                                    center: mapCenter,
                                    zoom: 12
                                }"
                            />
                        </div>

                        <input class="[ hidden ]" type="text" name="googleLat" id="googleLat"
                            v-model="formInput.lat" required readonly>
                        <input class="[ hidden ]" type="text" name="googleLong" id="googleLong"
                            v-model="formInput.long" required readonly>
                        <input  class="[ hidden ]" type="number" name="id" id="id" 
                            v-model="formInput.id" required readonly>
                    </div>
                </div>
                <button type="submit">
                    <span v-if="createNew">Create establishment</span>
                    <span v-else>Update establishment</span>
                </button>
            </div>
        </div>
    </form>
</div>
</template>

<script>
import Calendar from 'vue-functional-calendar';
import Mapbox from 'mapbox-gl-vue';
import BookingItem from './../components/ListingBookingItem'

export default {
    name: "Listing",
    components: { Calendar, Mapbox, BookingItem },
    props: [ "id" ],
    data(){
        return {
            establishment: Object,

            calendarData: Object,
            
            mapbox: Object,
            mapCenter: [ 5.322054, 60.391262 ],
            mapStyle: "mapbox://styles/anna-hofseth/cjw2d54qo0hpn1cl9ux9t9y9h",
            lastMouseDownPos: {x: 0, y: 0},

            formInput: {
                estName: "",
                description: "",
                email: "",
                imageUrl: "",
                price: "",
                guests: "",
                lat: "", long: "",
                selfCatering: true,
                id: 0
            },
            premiseChef: false,
            errors: {
                estName: false,
                description: false,
                email: false,
                imageUrl: false,
                price: false,
                guests: false,
                location: false,
                selfCatering: false,
            }
        }
    },
    computed: {
        createNew: function() { return this.id == undefined },
        anyBookingData: function() { 
            if(!this.loaded) return false;
            if(!this.establishment.bookingData) return;
            return this.establishment.bookingData.length > 0;
        },
        loaded: function() { return this.establishment !== null }
    },
    watch: {
        'formInput': { handler: function (newVal, oldVal) {
            this.premiseChef = !newVal.selfCatering }, deep: true }
    },
    beforeMount(){
        const app = this;

        if(!app.createNew){
            app.getEstablishmentsWithBookingData(function(res){
                for (let est of res){
                    if (est.id == app.id){
                        app.establishment = est;
                        app.formInput = {
                            estName: est.establishmentName,
                            description: est.description,
                            email: est.establishmentEmail,
                            imageUrl: est.imageUrl,
                            price: est.price,
                            guests: est.maxGuests,
                            lat: est.googleLat, long: est.googleLong,
                            selfCatering: est.selfCatering,
                            id: app.id
                        }

                        app.mapCenter = [est.googleLong, est.googleLat];

                        return;
                    }
                }
            })
        }

        else{
            // generating new id
            app.getEstablishmentsData(function(res){
                let ids = [];
                for(let est of res){
                    ids.push(Number(est.id));
                }

                ids.sort(function(a, b){return a-b});

                for(let i = 0; i < ids.length + 1; i++){
                    let id = ids[i];
                    if (id != i){
                        app.formInput.id = i; break;
                    }
                }
            })
        }
        
        app.setBrowserScrollActive(false);
        app.setBrowserZoomActive(false);
    },
    beforeDestroy(){
        const app = this;
        app.setBrowserScrollActive(true);
        app.setBrowserZoomActive(true);
    },
    methods: {
        initMap(source){
            const app = this;
            app.mapbox = source;
            
            app.initMapOverrideScrollAndZoom(source);

            source.on('mousedown', function (e) {
                app.lastMouseDownPos = 
                    { x: e.originalEvent.offsetX, y: e.originalEvent.offsetY };
            });

            source.on('mouseup', function (e) {
                let mouseUpPos = { x: e.originalEvent.offsetX, y: e.originalEvent.offsetY };
                let panned = app.lastMouseDownPos.x != mouseUpPos.x || app.lastMouseDownPos.y != mouseUpPos.y;

                if (!panned){
                    app.formInput.lat = e.lngLat.lat;
                    app.formInput.long = e.lngLat.lng;
                    app.updateMapMarker();
                }
            });

            source.addSource('point', {
                'type': 'geojson',
                'data': {
                    'type': 'Point',
                    'coordinates': ''
                }
            });

            source.addLayer({
                'id': 'position',
                "source": "point",
                "type": "circle",
                "paint": {
                    "circle-radius": 10,
                    "circle-color": "#DB2E59"
                }
            });

            app.updateMapMarker();
            source.flyTo({center: app.mapCenter});

        },
        updateMapMarker(){
            const app = this;
            const map = app.mapbox;
            
            map.getSource('point').setData({
                'type': 'Point',
                'coordinates': [ app.formInput.long, app.formInput.lat ]
            });
        },
        validateForm(event){
            const app = this;

            let input = app.formInput;
            let e = {
                estName: input.estName == "",
                description: input.description == "",
                email: !app.validateEmail(input.email),
                imageUrl: input.imageUrl == "",
                price: 0 - input.price > 0,
                guests: input.guests < 1,
                location: input.lat == "" || input.long == "",
                selfCatering: input.selfCatering == app.premiseChef,
            }
            app.errors = e;
            
            if (e.estName || e.description || e.email || e.imageUrl || 
                e.price || e.guests || e.location || e.selfCatering)
            {
                event.preventDefault();
            }
        }
    }
}
</script>

<style lang="scss" scoped>
@import "./../assets/scss/_partials-min.scss";

.listing{
    .image-header{
        background-image: url("http://sharelab.no/wp-content/uploads/2017/10/placeholder-540x540.png");
        background-size: cover;
        background-position: center;
        min-height: 200px;
        max-height: 400px;
        height: 60vh;
        overflow: hidden;
    }

    &__booking-data{
        display: block;
        margin-top: 40px;

        &.wide{
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 10px;
        }

        &__calendar{
            margin: 10px 0;
        }

        &__list{
            background-color: $bg_ll;
            border-radius: 8px;
            overflow-y: scroll;

            padding: 10px;
            margin: 10px 0;
        }
    }

    &__form{
        margin-bottom: 100px;
        .width-control{
            max-width: 1100px;
            margin: 0 auto;
            margin-bottom: 100px;
        }

        .image-input .image--cover{
            max-height: 400px;
            border-radius: 8px;
        }
    }

    .content{
        display: block;
        margin: 60px 0;

        .map-container{
            margin-top: 10px;
            height: 320px;

            #map{
                height: 280px;
            }
        }

        &__main{
            margin-right: 10px;

        }
        &__side{
            
        }
        
        .two-cols{
            /*display: grid;
            grid-template-columns: 1fr 1fr;*/
        }

        &.wide{
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-gap: 10px;
        }
    }

    button[type="submit"]{
        float: right;
        width: 200px;
    }
}
</style>

<style lang="scss">
.listing{
    #map{
        width: 100%; height: 100%;
        .mapboxgl-ctrl-top-right{
            top: 0;
        }
    }
}
</style>