<template>
<div class="[ login ] [ container--readable ]">
    <div class="[ login__alt ]">
        <button class="[ btn--light ] [ login__alt--fb ]">
            <i class="fab fa-facebook-f"></i>Log in with Facebook</button>
        <button class="[ btn--light ] [ login__alt--g ]">
            <i class="fab fa-google"></i>Log in with Google</button>
    </div>
    <form class="[ login__form ]" @submit="tryLogin">
        <div class="[ label-group ]">
            <label>Username</label>
            <input type="text" v-model="user.username">
        </div>
        <div class="[ label-group ]">
            <label>Password</label>
            <input type="password" v-model="user.password">
        </div>
        <div class="[ labeled-check ]">
            <input type="checkbox" v-model="user.rememberMe">
            <label>Remember me</label>
        </div>
        <div class="[ login-error ]">
            <span v-if="showError">Wrong username or password</span>
        </div>
        <button type="submit"><i class="fas fa-sign-in-alt"></i></button>
    </form>
    <div class="[ login__other ]">
        <div class="[ login__other__forgot ]"><router-link :to="{}">Forgot password?</router-link></div>
        <div class="[ login__other__signup ]">Don't have an account? <router-link :to="{}">Sign up</router-link></div>
    </div>
</div>
</template>

<script>
export default {
    name: "Login",
    data(){
        return{
            user: {
                username: "",
                password: "",
                rememberMe: false
            },
            showError: false
        }
    },
    methods: {
        tryLogin(){
            const app = this;
			let correctUsername = app.user.username === localStorage.getItem("username");
            let correctPassword = app.user.password === localStorage.getItem("password");
            
			localStorage.setItem("rememberMe", app.user.rememberMe);

            if (correctUsername && correctPassword)
            {
                localStorage.setItem("sessionID", "666");
                app.$isLoggedIn = true;
                app.showError = false;

				app.$router.push({name: "AdminDashboard"});
            }

            else
            {
                app.showError = true;
                return false;
            }
        }
    }
}
</script>

<style lang="scss">
@import "./../assets/scss/_partials-min.scss";
$facebook: #3b5998;
$google: #de5246;

.login{
    max-width: 400px;
    margin: 20px auto;

    &__form{
        padding: 40px 0;
        border-top: 2px solid $bg_ll;

        .login-error{
            height: 30px;
            margin-top: 10px;
            font-size: 12pt;

            span{
                color: $red;
            }
        }

        input:not([type="checkbox"]){
            width: 100%;
        }

        .labeled-check *{
            font-size: 12pt;
        }

        button{
            width: 80px; height: 80px;
            font-size: 36px;
            padding: 20px;
            margin: 40px auto 10px;
        }
    }

    &__alt{
        margin-bottom: 40px;

        &--fb, &--g{
            display: block;
            width: 100%;
            padding: 10px 20px !important;
            margin: 20px 0;

            i{
                margin-right: 10px;
            }
        }

        &--fb{
            background-color: $facebook;
            border: 1px solid $facebook;

            &:hover, &:focus{
                background-color: $white;
                color: $facebook;
            }
        }

        &--g{
            background-color: $google;
            border: 1px solid $google;

            &:hover, &:focus{
                background-color: $white;
                color: $google;
            }
        }
    }

    &__other{
        * { font-size: 12pt; }
        &__forgot{
            margin-bottom: 10px;
        }

        &__signup{

        }
    }
}
</style>