<template>
<div class="[ booking-item ]">
    <h4 class="[ booking-item__name ]">{{name}}</h4>
    <div class="[ booking-item__email ]"><i class="fas fa-envelope"></i> {{email}}</div>
    <div class="[ booking-item__date ]">
        <i class="fas fa-suitcase"></i> {{dates}}
    </div>
    <div class="[ separator--h ]"/>
</div>
</template>

<script>
export default {
    name: "ListingBookingItem",
    props: [ "name", "email", "from", "to" ],
    computed: {
        dates: function() {
            let app = this;
            let from = app.getDateObject(app.from);
            let to = app.getDateObject(app.to);
            let displayYear = from.getFullYear() != to.getFullYear() ||
                              from.getFullYear() != new Date().getFullYear();

            return app.getDateSummary(from, displayYear)
                 + " to " +
                 app.getDateSummary(to, displayYear);
        }
    }
}
</script>

<style lang="scss">
@import "./../assets/scss/_partials-min.scss";
.booking-item{
    &__name{
        
    }
    &__email{
        font-size: 12pt;
    }
    &__date{
        font-size: 12pt;
    }

    i{
        color: $bg;
    }
}
</style>