<template>
<router-link class="[ match-list-item ]"
    :to="{ name: 'Establishment', params: { id: id }}">
    <div class="[ match-list-item__image ] [ image--cover ]">
        <img v-bind:src="imgUrl" v-bind:alt="title">
        <div class="[ match-list-item__image__price ]">{{price}}$</div>
    </div>
    <div class="[ match-list-item__info ]">
        <div class="[ match-list-item__info__title ] [ font--nav ]">{{title}}</div>
        <div class="[ match-list-item__info__rating ]">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="[ match-list-item__info__guests ]"><i class="fas fa-user"></i>{{guests}}</div>
    </div>
</router-link>
</template>

<script>
export default {
    name: "MatchListItem",
    props: [ "title", "price", "imgUrl", "guests", "id" ]
}
</script>

<style lang="scss">
@import "./../assets/scss/_partials-min.scss";
.match-list-item{
    height: 140px;
    margin: 5px 10px;
    padding: 2px;
    border-radius: 8px;
    transition: .2s;
    @include full-box-shadow(1px, 4px, rgba($black, 0));

    display: grid;
    grid-template-columns: 1fr minmax(240px, 1fr);

    &__image{
        position: relative;
        border-radius: 8px;

        &__price{
            position: absolute;
            bottom: 5px; right: 5px;
            font-size: 14pt;
            text-align: right;

            padding: 5px 10px;
            background-color: $red;
            color: $white;
            border-radius: 8px;
        }
    }

    &__info{
        padding: 10px;

        div{
            margin-bottom: 4px;
        }

        &__title{
            font-size: 16pt;
        }

        &__rating{
            font-size: 10pt;
            i{ color: $yellow }
        }

        &__guests{
            font-size: 12pt;
            i{
                color: $bg;
                margin-right: 5px;
            }
        }
    }

    &:link, &:visited{

        .match-list-item{
            &__image{
                img{
                    transition: .4s;
                    width: 100%; height: 100%;
                }
            }
            &__info{
                &__title{
                    transition: .4s;
                    color: $blue;
                }
            }
        }
    }

    &:hover, &:focus, &:active{
        @include full-box-shadow(1px, 4px, rgba($black, .1));
        margin: 10px;
        
        .match-list-item{
            &__image{
                img{
                    transition: .2s;
                    width: 105%; height: 105%;
                }
            }
            &__info{
                &__title{
                    transition: .2s;
                    color: $red;
                }
            }
        }
    }

    &:active{
        transition: .2s;

        .match-list-item{
            &__info{
                &__title{
                    color: $red_d;
                }
            }
        }
    }
}
</style>