<template>
<div class="[ m-map ]">
    <Mapbox
        access-token="pk.eyJ1IjoiYW5uYS1ob2ZzZXRoIiwiYSI6ImNqZzZ4anpvazBkZDQycXF0cTduemQweWcifQ.BZf0buuKp90Vst4HpnZxQQ"
        :map-options="{
            style: map.style,
            center: map.center,
            zoom: 12
        }"
        @map-load="initMap"
        />
</div>
</template>

<script>
// test out ref="" instead of subscribing to map-load
import Mapbox from 'mapbox-gl-vue';
export default {
    name: "Map",
    components: { Mapbox },
    data() {
        return {
            map: {
                source: null,
                center: [ 5.305, 60.39 ],
                layerInited: false,
                interactive: false,
                hovered: Object,
                token: "pk.eyJ1IjoiYW5uYS1ob2ZzZXRoIiwiYSI6ImNqZzZ4anpvazBkZDQycXF0cTduemQweWcifQ.BZf0buuKp90Vst4HpnZxQQ",
                style: "mapbox://styles/anna-hofseth/cjw2d54qo0hpn1cl9ux9t9y9h"
            },
            dataSource: Array
        }
    },
    computed: {
        renderReady: function() { return this.dataSource.length > 0 && this.map.source != null }
    },
    watch: {
        renderReady: function(ready) { if(ready && !this.map.layerInited) this.initMapLayer(); }
    },
    beforeMount(){
        const app = this;
        app.$emit("onInit", app);
    },
    methods: {
        initMap(source){
            const app = this;
            app.map.source = source;
            app.initMapOverrideScrollAndZoom(source);
        },
        initData(data){
            const app = this;
            app.dataSource = data;
        },
        initMapLayer(){
            const app = this;
            if (app.map.layerInited) return;

            let map = app.map.source;

            map.addSource('ests', {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': app.getPoints(app.dataSource)
                }
            });

            map.addLayer({
                'id': 'establishments',
                'source': 'ests',
                'maxzoom': 22,
                "type": "circle",
                "paint": {
                    "circle-radius": 10,
                    "circle-color": "#DB2E59"/*,
                    "circle-color": ["case",
                        ["boolean", ["feature-state", "hover"], false],
                        "#DB2E59", "#3454D1"
                    ]*/
                }
            });

            // Hover effects
            /*map.on("mousemove", "establishments", function(e) {
                if (e.features.length > 0) {
                    if (app.map.hovered) {
                        map.setFeatureState({source: 'ests', id: app.map.hovered}, { hover: false});
                    }
                    app.map.hovered = e.features[0].id;
                    console.log(e.features[0].id)
                    map.setFeatureState({source: 'ests', id: app.map.hovered}, { hover: true});
                }
            });
            
            map.on("mouseleave", "establishments", function() {
                if (app.map.hovered) {
                    map.setFeatureState({source: 'ests', id: app.map.hovered}, { hover: false});
                }
                app.map.hovered =  null;
            });*/

            map.on('click', function(e){
                let features = map.queryRenderedFeatures(e.point, {
                    layers: ['establishments']
                });

                if(!features.length){
                    return;
                }

                let feature = features[0];
                let est = Object;
                for(let establishment of app.dataSource){
                    if (establishment.id == feature.properties.nId){
                        est = establishment; break;
                    }
                }

                let popup = new mapboxgl.Popup({ offset: [0, 0]})
                    .setLngLat(feature.geometry.coordinates).setHTML(`
                        <a class="[ popup ]" href="http://www.annahofseth.com/noroff/holidaze/#/establishment/`+feature.properties.nId+`">
                            <div class="[ popup__image ][ image--cover ]">
                                <img src="`+est.imageUrl+`" alt="`+est.title+`">
                            </div>
                            <div class="[ popup__content ]">
                                <div class="[ popup__content__title ] [ font--nav ]">`+est.establishmentName+`</div>
                                <div class="[ popup__content__rating ]">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>
                                <div class="[ popup__content__guests ]">
                                    <i class="fas fa-user"></i>`+est.maxGuests+`
                                </div>
                                <div class="[ popup__content__price ]">
                                    `+est.price+`$
                                </div>
                            </div>
                        </a>
                    `)
                    .setLngLat(feature.geometry.coordinates)
                    .addTo(map);
            });

            app.map.layerInited = true;
        },
        getPoints(list){
            const app = this;
            let points = [];
            for(let i = 0; i < list.length; i++)
            {
                let est = list[i];
                points.push({
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [ est.googleLong, est.googleLat ]
                    },
                    'properties': {
                        'title': est.establishmentName,
                        'id': i,
                        'nId': est.id
                    }
                });
            }

            return points;
        },
        filterData(data){
            const app = this;
            const map = app.map.source;

            let pts = app.getPoints(data);

            // Note: this is not the recommended way of filtering data.
            // It's a last resort as other ways did not update the map
            // Here, I'm removing the source and adding a new one with the filtered result
            map.removeSource('ests');
            
            map.addSource('ests', {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': pts
                }
            });

            // This would be the best way of filtering, by using mapboxes' actual filtering system
            /*map.setFilter('establishments', ['match', ['get', 'nId'],
                pts.map(function(ft){
                    return ft.properties.nId;
                }), true, false]);*/

            // This should also work, as it works in Listing.vue
            /*map.getSource('ests').setData({
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': pts
                }
            });*/
        },
        setInteractive(active){
            const map = this.map.source;

            if (!map) return;

            if (active)
            {
                map.scrollZoom.enable();
                map.boxZoom.enable();
                map.dragRotate.enable();
                map.dragPan.enable();
                map.keyboard.enable();
                map.doubleClickZoom.enable();
                map.touchZoomRotate.enable();
            }

            else
            {
                map.scrollZoom.disable();
                map.boxZoom.disable();
                map.dragRotate.disable();
                map.dragPan.disable();
                map.keyboard.disable();
                map.doubleClickZoom.disable();
                map.touchZoomRotate.disable();
            }
        }
    }
}
</script>

<style lang="scss">
@import "./../assets/scss/_partials-min.scss";
.m-map{
    width: 100%; height: 100%;
    #map{
        width: 100%; height: 100%;

        .mapboxgl-popup-tip{
            border-top-color: $white;
        }
        
        .mapboxgl-popup-content{
            width: 320px;
            max-width: 60vw;
            height: 220px;

            border-radius: 8px;
            padding: 0;
            overflow: hidden;
            background-color: $white;
            @include full-box-shadow(2px, 8px, rgba($black, .1));

            .popup{
                &__image{
                    transition: .4s;
                    height: 100px;

                    &:hover, &:focus{
                        transition: .2s;
                        height: 130px;
                    }
                }
                
                &__content{
                    padding: 10px;

                    &__title{
                        line-height: 1;
                        margin-bottom: 5px;

                        transition: .2s;
                        color: $blue;
                    }

                    &__rating{
                        color: $yellow;
                        font-size: 10pt;
                    }

                    &__guests{
                        font-size: 20px;

                        i{
                            color: $bg;
                            font-size: 16px;
                            margin-bottom: -2px;
                            margin-right: 5px;
                        }
                    }

                    &__price{
                        position: absolute;
                        bottom: 10px; right: 10px;
                        background-color: $red;
                        border-radius: 8px;
                        padding: 5px 10px;
                        color: $white;
                        font-size: 14pt;
                    }
                }

                &:hover, &:focus{
                    .popup__content__title{
                        color: $red;
                    }
                }
            }
            .mapboxgl-popup-close-button{
                position: absolute;
                z-index: 1;
                font-size: 24px;
                width: 25px; height: 25px;
                padding: 0;
                margin: 2px 4px;

                transition: .2s;
                background-color: rgba($black, .1);
                border-radius: 20px;
                
                &:hover, &:focus{
                    color: $red;
                }
            }
        }
    }

    .mapboxgl-ctrl-top-right{
        top: auto;
        bottom: 30px;
    }
}
</style>