<template>
<div class="[ m-list ] [ pointer--events ]">
    <div class="[ m-list__list ]" v-if="hasData">
        <div class="[ m-list__list__head ]">
            <div class="[ m-list__list__head__summary ]">Showing {{dataSource.length}} of {{total}}</div>
            <select class="[ m-list__list__head__sort ]" v-model="sortAttribute">
                <option>Popular</option>
                <option>A-Z</option>
                <option>Z-A</option>
                <option>Price: lowest</option>
                <option>Price: highest</option>
            </select>
        </div>
        <div v-for="item in dataSource" v-bind:key="item">
            <MatchListItem
                :title="item.establishmentName"
                :price="item.price"
                :imgUrl="item.imageUrl"
                :guests="item.maxGuests"
                :id="item.id"
            />
        </div>
    </div>
    <div class="[ m-list__no-res ]" v-else>
        No matching results
    </div>
</div>
</template>

<script>
import MatchListItem from './MatchListItem'
export default {
    name: "MatchList",
    components: { MatchListItem },
    props: [ "total" ],
    data(){
        return{
            dataSource: Object,
            sortAttribute: "Popular"
        }
    },
    computed: {
        hasData: { get: function()
            { return this.dataSource != undefined ? this.dataSource.length > 0 : false }}
    },
    watch: {
        sortAttribute: function(val) { this.sortList(val); }
    },
    beforeMount(){
        this.$emit("onInit", this);
    },
    methods: {
        refresh(data){
            this.dataSource = data;
        },
        sortList(by){
            const app = this;
            
            app.dataSource.sort(function(a, b){
                switch(by){
                    // Not actually by popular as this value doesn't exist. 
                    // Sorts by ids, likely resulting in newest establishment going first
                    case "Popular": return b.id - a.id;
                    case "A-Z": return (b.establishmentName < a.establishmentName) ? 1 : -1;
                    case "Z-A": return (b.establishmentName < a.establishmentName) ? -1 : 1;
                    case "Price: lowest": return a.price - b.price;
                    case "Price: highest": return b.price - a.price;
                    default: return 0;
                }
            });
        }
    }
}
</script>

<style lang="scss">
@import "./../assets/scss/_partials-min.scss";
.m-list{
    @include offset(40px, 0, 0, 0);
    width: 100%; min-width: 320px;
    background-color: $white;
    border-radius: 8px;
    margin-bottom: 120px;
    padding: 7px 0;

    transition: .2s;
    //overflow-y: scroll;

    &__list{
            margin: 5px 0;

        transition: .2s;
        opacity: 1;

        &__head{
            display: flex;
            justify-content: space-between;
            margin-left: 10px;

            *{
                font-size: 10pt;
                text-align: right;
            }

            select{
                max-width: 140px;
                margin: 0 10px;
            }
        }
    }

    &__no-res{
        color: $white_dd;
        font-size: 14pt;
        text-align: center;
        margin-top: 20px;
    }
}
</style>