<template>
<div class="[ message-item ]">
    <h4 class="[ message-item__name ]">{{name}}</h4>
    <div class="[ message-item__email ]"><i class="fas fa-envelope"></i> {{email}}</div>
    <div class="[ message-item__message ]">{{message}}</div>
</div>
</template>

<script>
export default {
    name: "MessageItem",
    props: [ "name", "email", "message" ]
}
</script>

<style lang="scss">
@import "./../assets/scss/_partials-min.scss";
.message-item{
    margin-bottom: 20px;

    &__name{
        line-height: 1;
        margin-bottom: 10px;
    }
    &__email{
        font-size: 12pt;
        margin-bottom: 5px;
    }
    &__message{
        font-size: 12pt;
    }

    i{
        color: $bg;
    }
}
</style>