<template>
<div class="[ header ] [ container--fluid ]" v-bind:class="{ big: !mobileMq }">
    <div class="[ header__bg ]"><div class="[ header__bg__pattern ]"></div></div>
    <div class="[ header__content ] [ container--margin ]">
        <div class="[ header__content__main ]"><router-link :to="{ name: 'Home' }" class="[ logo ]" 
            v-bind:class="{ admin: isLoggedIn }">Holidaze</router-link>
            <WeatherForecast v-if="forecastLoaded"
                :temp="forecast.temp"
                :weather="forecast.weather"
            />
        </div>
        <div class="[ menu-btn ] [ pointer--clickable ] [ clickable--text ]" v-if="mobileMq">
            <i class="fas fa-bars" v-on:click="toggleMenu"></i>
        </div>
        <nav class="[ menu ] [ font--nav ] [ row ]" v-if="!mobileMq">
            <ul class="[ menu__list ]">
                <li class="[ menu__list__item ]" v-if="isLoggedIn"><router-link :to="{ name: 'AdminDashboard' }">
                    Admin</router-link></li>
                <li class="[ menu__list__item ]"><router-link :to="{ name: 'About' }">
                    About</router-link></li>
                <li class="[ menu__list__item ]"><router-link :to="{ name: 'Contact' }">
                    Contact</router-link></li>
                <li class="[ menu__list__item ]" v-if="!isLoggedIn"><router-link :to="{ name: 'Login' }">
                    Log in</router-link></li>
                <li class="[ menu__list__item ] [ clickable--text ] [ pointer--clickable ]"
                    v-else v-on:click="logOut"><button class="[ btn--text ] [ font--nav ] [ logout-btn ]">
                        Log out<i class="fas fa-sign-out-alt"></i></button></li>
            </ul>
        </nav>
    </div>
        
    <!-- Note: I was struggling with a z-index issue, and did not want to make a duplicate 
         set of the menu, but this was the quickest way to fix my issues
     -->
    <nav class="[ menu ] [ font--nav ] [ side ] [ pointer--no-select ]" v-bind:class="{ show: mobileMq && menuOpen }">
        <ul class="[ menu__list ]" v-on:click="setMenuOpen(false)">
            <li class="[ menu__list__item ]" v-if="isLoggedIn"><router-link :to="{ name: 'AdminDashboard' }">
                Admin</router-link></li>
            <li class="[ menu__list__item ]"><router-link :to="{ name: 'About' }">
                About</router-link></li>
            <li class="[ menu__list__item ]"><router-link :to="{ name: 'Contact' }">
                Contact</router-link></li>
            <li class="[ menu__list__item ]" v-if="!isLoggedIn"><router-link :to="{ name: 'Login' }">
                Log in</router-link></li>
            <li class="[ menu__list__item ] [ clickable--text ] [ pointer--clickable ]"
                v-else v-on:click="logOut"><button class="[ btn--text ] [ font--nav ] [ logout-btn ]">
                    Log out <i class="fas fa-sign-out-alt"></i></button></li>
        </ul>
    </nav>

    <div class="[ click-outside-menu ]"
        v-bind:class="{ show: menuOpen && mobileMq }"
        v-on:click="setMenuOpen(false)"/>
</div>
</template>

<script>
import WeatherForecast from './../components/WeatherForecast';

export default {
    name: "PageHeader",
    props: [ "isLoggedIn" ],
    components: { WeatherForecast },
    data(){
        return{
            menuOpen: false,
            forecastLoaded: false,
            forecast: Object
        }
    },
    computed: {
        mobileMq: function() { return this.$mq === 'mobile' }
    },
    watch: {
        $mq: function() { this.mqChange(); }
    },
    beforeMount(){
        const app = this;

        let cors = "https://cors-anywhere.herokuapp.com/";
        let url = "api.openweathermap.org/data/2.5/weather?q=Bergen,no&units=metric&appid=";
        let key = "26eaf978bc7b84263e6fa790356d8493";

        app.fetchDataFromUrl(cors + url + key, function(res){
            app.forecast = {
                temp: Math.round(res.main.temp),
                weather: res.weather[0].description
            }
            app.forecastLoaded = true;
        });
    },
    methods: {
        setMenuOpen(open){
            const app = this;
            app.menuOpen = open;
        },
        toggleMenu(){
            const app = this;
            app.setMenuOpen(!app.menuOpen);
        },
        logOut(){
            localStorage.removeItem("sessionID");
			this.$router.push({name: "Home"});
        },
        mqChange(){
            this.setMenuOpen(!this.mobileMq);
        },
        loggedInChange(val){
            this.adminMode = val;
        }
    }
}
</script>

<style lang="scss">
@import "./../assets/scss/_partials-min.scss";
.header{
    height: $headerHeightSmall;

    &.big{
        height: $headerHeight;

        .menu__side{
            top: $headerHeight;
        }

        .click-outside-menu{
            top: $headerHeight;
        }

        .header__bg{
            height: $headerHeight;
        }
    }

    &__content{
        position: relative;
        z-index: 1;

        display: flex;
        justify-content: space-between;

        &__main{
            display: flex;

            .logo{
                margin-right: 20px;
            }
        }

        .menu-btn{
            height: 32px;
            font-size: 26px;
            margin: auto 0;
        }
    }

    .menu{
        &__list{
            &__item{
                
            }
            
            .logout-btn{
                text-align: right;
                width: 130px;
            }
        }
        
        &.row{
            width: auto;
            @include flex-center-col();
            .menu__list{
                display: flex;
                flex-direction: row;

                &__item{
                    margin: 8px 4px;
                }
            }
        }

        &.side{
            position: absolute;
            z-index: 3;
            top: $headerHeightSmall;
            right: 0;

            .menu__list{
                padding: 20px 0 40px;
                background-color: $white;
                border-radius: 0 0 0 8px;
                
                &__item{
                    text-align: right;
                    margin: 20px 40px;
                }
            }

            transition: .2s;
            opacity: 0;
            transform: scaleY(0);
            transform-origin: 0 0;
            
            &.show{
                opacity: 1;
                transform: scaleY(1);
            }
        }
    }
    
    .click-outside-menu{
        position: absolute;
        @include offset($headerHeightSmall,0,0,0);
        z-index: 2;

        transition: .2s;
        background-color: rgba($black, 0);
        pointer-events: none;

        &.show{
            background-color: rgba($black, .4);
            pointer-events: all;
        }
    }

    &__bg{
        position: absolute;
        z-index: 1;
        top: 0; left: 0; right: 0;
        height: $headerHeightSmall;
        background-color: $white;
        opacity: .5;

        &__pattern{
            @include full-absolute();
            background: url("./../../public/images/raindrops-pattern.svg") repeat 0 0;
            background-repeat: repeat;
            opacity: .4;
        }
    }
}
</style>