<template>
<div class="[ search ] [ pointer--events ]" v-bind:class="{ advanced: searchData.usingAdvanced }">
    <form class="[ search__form ]" @submit.prevent="search">
        <div class="[ search__form__basic ]">
            <div class="[ search__form__basic__top ]">
                <div class="[ input-icon ]">
                    <i class="fas fa-search"></i>
                    <input type="text" v-model="searchData.text" placeholder="Keywords">
                </div>
                <div class="[ input-icon ]">
                    <i class="fas fa-user"></i>
                    <input type="number" v-model="searchData.guests" min="1" placeholder="Guests">
                </div>
            </div>
            <div class="[ search__form__calendar ]">
                <button class="[ container--fluid ] [ btn--light ]" v-on:click="toggleShowCalendar">
                    <i class="fas fa-calendar-alt"></i> {{summary.dates}}
                    <i class="fas fa-caret-down [ toggle-ind ]" v-if="!showCalendar"></i>
                    <i class="fas fa-caret-up [ toggle-ind ]" v-else></i>
                </button>
                <div class="[ calendar-container ] [ search__calendar ]" v-bind:class="{ hide: !showCalendar }">
                    <Calendar v-model="calendarData"
                        :is-date-range='true'
                    />
                </div>
            </div>
        </div>
        <div class="[ search__form__advanced ]" v-bind:class="{ hide: !searchData.usingAdvanced }">
            <div class="[ search__form__advanced__price ] [ icon-label-group ]">
                <label>Max price</label>
                <div class="[ input ]">
                    <i class="fas fa-dollar-sign"></i>
                    <input type="number" v-model="searchData.maxPrice" min="0" placeholder="Max">
                </div>
            </div>
            <div class="[ search__form__advanced__kitchen ] [ label-group ]">
                <label>Kitchen</label>
                <select v-model="selfCatering">
                    <option value="none">No preferences</option>
                    <option value="self">Self catering</option>
                    <option value="chef">Chef on premise</option>
                </select>
            </div>
        </div>
        <div class="[ search__form__result ]">
            <label for="search" class="[ search__form__result__summary ]">
                {{summary.nights}} {{summary.guests}} {{summary.price}}</label>
            <button name="search" type="submit"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <div class="[ toggle-advanced ] [ pointer--clickable ]"
        v-on:click="toggleAdvancedOpen">
        <button class="[ btn--text ]" v-if="!searchData.usingAdvanced">
            More filters<i class="fas fa-chevron-down"></i></button>
        <button class="[ btn--text ]" v-else>
            Less filters<i class="fas fa-chevron-up"></i></button>
    </div>
</div>
</template>

<script>
import Calendar from 'vue-functional-calendar';
export default {
    name: "Search",
    components: { Calendar },
    data(){
        return{
            calendarData: Object,
            showCalendar: false,
            summary: {
                dates: "Select dates",
                nights: "",
                guests: "2 guests",
                price: ""
            },
            searchData: {
                text: "",
                guests: 2,
                date: { from: "", to: "" },
                distance: 0,
                maxPrice: 0,
                selfCateringPrefs: false,
                selfCatering: false,
                usingAdvanced: false
            },
            selfCatering: "none"
        }
    },
    watch: {
        selfCatering: function(val) {
            const app = this;
            app.searchData.selfCateringPrefs = val != "none";
            if (app.searchData.selfCateringPrefs){
                app.searchData.selfCatering = val == "self";
            }
         },
        'searchData': { handler: function (newVal, oldVal) {
            this.searchDataChanged(); }, deep: true },
        'calendarData': { handler: function (newVal, oldVal) {
            this.dateChange(); }, deep: true }
    },
    methods: {
        setAdvancedOpen(show){
            this.searchData.usingAdvanced = show;
        },
        toggleAdvancedOpen(){
            this.setAdvancedOpen(!this.searchData.usingAdvanced);
        },
        toggleShowCalendar(){
            this.setCalendarOpen(!this.showCalendar);
        },
        setCalendarOpen(open){
            this.showCalendar = open;
        },
        search(){
            this.$emit("onSearch", this.searchData);
        },
        searchDataChanged(){
            const app = this;

            if (app.searchData.date.from != ""){
                let fromDate = app.getDateObject(app.searchData.date.from);
                let toDate = app.getDateObject(app.searchData.date.to);
                let sameYear = fromDate.getFullYear() == toDate.getFullYear();
                app.summary.dates = app.getDateSummary(fromDate, !sameYear) + 
                            " - " + app.getDateSummary(toDate, !sameYear);
            }

            app.summary.guests = app.searchData.guests + " guests";

            let showPriceSummary = app.searchData.usingAdvanced ? app.searchData.maxPrice > 0 : false;
            app.summary.price = showPriceSummary
                ? ", " + app.searchData.maxPrice + "$ max"
                : "";

            app.search();
        },
        dateChange(){
            const app = this;

            app.searchData.date.from = app.calendarData.dateRange.start.date;
            app.searchData.date.to = app.calendarData.dateRange.end.date;

            if (app.searchData.date.from != ""){
                let fromDay = app.searchData.date.from.split('/');
                let toDay = app.searchData.date.to.split('/');

                var fromDate = new Date(fromDay[2],fromDay[1],fromDay[0]);
                var toDate = new Date(toDay[2],toDay[1],toDay[0]);

                var days = Math.round(Math.abs(
                    (fromDate.getTime() - toDate.getTime())/(24*60*60*1000)));
                app.summary.nights = days + " nights,";
            }
            //console.log(days, "nights");

            app.setCalendarOpen(false);
        }
    }
}
</script>

<style lang="scss" scoped>
@import "./../assets/scss/_partials-min.scss";
.search{
    position: relative;
    z-index: 1;
    width: 100%;

    background-color: $white;
    border-radius: 8px;

    transition: .2s;

    &:before{
        content: "";
        @include full-absolute();
        z-index: -1;
        background-color: $bg_ll;
        border-radius: 8px;
    }

    &__form{
        padding: 10px 10px 5px;

        &__basic, &__advanced{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__basic{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(1fr, 380px));
            grid-gap: 10px;

            &__top{
                display: grid;
                grid-template-columns: 1fr 100px;
                grid-gap: 10px;

                input{
                    width: 100%;
                }
            }
        }

        &__calendar{
            .search__calendar{
                position: absolute;
                z-index: 1;
                left: 10px; right: 10px;
                
                transition:.2s;
                transform: scaleY(1);
                transform-origin: 0 0;
                opacity: 1;

                &.hide{
                    transform: scaleY(0);
                    overflow: hidden;
                    opacity: 0;
                }
            }

            .toggle-ind{
                    position: absolute;
                    right: 20px;
            }

            button{
                text-align: left;
            }
        }

        &__advanced{
            display: grid;
            grid-template-columns: 120px 1fr;
            grid-gap: 10px;
            margin-top: 10px;
            overflow: hidden;

            transition: .2s;
            height: auto;

            &.hide{
                height: 0;
            }

            &__kitchen{
                select{
                    margin: 0;
                }
            }

            &__price{
                
            }
        }

        &__result{
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr 50px;
            grid-gap: 10px;

            &__summary{
                background-color: rgba($white, .5);
                border-radius: 8px 20px 20px 8px;
                
                margin-right: -60px;
                padding: 10px;
                padding-right: 70px;

                font-size: 16pt;
                color: $blue;
                text-align: right;
            }

            button{
                width: 50px;
                padding: 10px 8px;
            }
        }
    }

    .toggle-advanced{
        padding: 0 10px 10px ;
        
        *{ font-size: 11pt; }
        i{
            font-size: 9pt;
            margin-left: 6px;
        }
    }
}

.calendar-input{
    position: relative;
    display: flex;
    i{
        color: $blue;
        font-size: 24pt;
        height: 100%;
        padding-top: 4px;
        margin-right: 5px;
    }
}
</style>