<template>
<div class="[ fc ]">
    <div class="[ fc__weather ]">
        <div v-if="weather == 'clear sky'"><i class="fas fa-sun [ yellow ]"></i></div>
        <div v-if="weather == 'few clouds'"><i class="fas fa-cloud-sun"></i></div>
        <div v-if="weather == 'scattered clouds'"><i class="fas fa-cloud"></i></div>
        <div v-if="weather == 'broken clouds'"><i class="fas fa-cloud"></i></div>
        <div v-if="weather == 'shower rain'"><i class="fas fa-cloud-rain"></i></div>
        <div v-if="weather == 'light rain'"><i class="fas fa-cloud-rain"></i></div>
        <div v-if="weather == 'rain'"><i class="fas fa-cloud-sun-rain"></i></div>
        <div v-if="weather == 'thunderstorm'"><i class="fas fa-bolt [ yellow ]"></i></div>
        <div v-if="weather == 'snow'"><i class="far fa-snowflake"></i></div>
        <div v-if="weather == 'mist'"><i class="fas fa-smog"></i></div>
    </div>
    <div class="[ fc__temp ]"><div>{{temp}}°C</div></div>
</div>
</template>

<script>
export default {
    name: "WeatherForecast",
    props: [ "temp", "weather" ]
}
</script>

<style lang="scss" scoped>
@import "./../assets/scss/_partials-min.scss";
.fc{
    width: 100px;
    padding: 0 5px;
    margin: auto;
    display: flex;
    overflow-x: overflow;
    position: relative;

    *{
        @include full-text-shadow(2px, 4px, rgba($white, .25));
    }

    &__weather{
        * {
            color: $bg;
            font-size: 30px;
        }
        .yellow{
            color: $yellow;
        }
        margin-right: 5px;
    }

    &__temp{
        position: relative;
        min-width: 60px;
        div{
            position: absolute;
            left: 0; bottom: 2px;
            font-size: 14pt;
        }
    }
}
</style>