<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app',
  created(){
    localStorage.setItem("username", "admin");
    localStorage.setItem("password", "admin");
  }
}
</script>

<style lang="scss">
@import "assets/scss/main";
#app{
  height: 100%;
}
</style>
