<template>
<div class="[ main ]">
    <PageHeader :isLoggedIn="isLoggedIn"/>
    <router-view/>
</div>
</template>

<script>
import PageHeader from "./components/PageHeader"

export default {
    name: "Main",
    components: { PageHeader },
    data(){
        return{
            isLoggedIn: false
        }
    },
    updated(){
        this.isLoggedIn = localStorage.getItem("sessionID") == '666';
        //console.log("isLoggedIn:", localStorage.getItem("sessionID") == '666');
    }
}
</script>

<style lang="scss">
@import "./assets/scss/_partials-min.scss";
.main{
	height: 100%;
	display: grid;
    grid-template-rows: auto 1fr;
}
</style>